{% extends 'layout.html' %}

{% block content %}
    <h2 class="text-white">Archivos subidos</h2>
    <hr class="text-white">
    <table class="table text-white">
        <thead>
            <tr>
                <th>Nombre del archivo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

{% endblock %}