{% extends 'layout.html' %}

{% block content %}
    <h2 class="text-white">Archivos subidos</h2>
    <hr class="text-white">
    <table class="table text-white">
        <thead>
            <tr>
                <th>Nombre del archivo</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>{{ file.filename }}</td>
                <td>{{ file.fecha }}</td>
                <td>
                    <a href="" class="btn btn-warning">Cambiar nombre</a>
                    <a href="" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}