{% extends 'layout.html' %}

{% block content %}

    <div class="p-5">
        <div class="container">
            <h1 class="display-3 text-white">Bienvienid@</h1>
            <p class="lead text-white">¿Qué desea hacer esta vez en el sitio web?</p>
            <hr class="my-2">
            <p class="lead">
                <a role="button" class="btn btn-primary btn-lg text-white" href="">Ver archivos subidos</a>
                <a role="button" class="btn btn-primary btn-lg text-white" href="">Subir un nuevo archivo</a>
            </p>
        </div>
    </div>

{% endblock %}
