{% extends 'layout.html' %}

{% block content %}

<h2 class="text-center text-white">Cloud Files</h2>



    <div class="mg-celeste">
        {% if not session['id'] %}
        <h4 class="text-danger">Para subir un archivo necesitas iniciar sesión</h4>
        <a href="{{ url_for('perfil') }}" class="link-primary">Inicio de sesión</a>
        {% endif %}

        {{ session['id'] }}
        {% if session['id'] %}
        <div class="dropzone">
            <div class="dz-message">
                <h1>Drop files here or click to upload.</h1>
            </div>
        </div>
        {% endif %}
    </div>

    <script>
    $(document).ready(function(){
        $(".dropzone").dropzone({
            url: '/upload',
            width: 500,
            height: 500,
            progressBarWidth: '100%',
            maxFileSize: '5MB'
        })
    });
    </script>


{% endblock %}